@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

#tile-footer-MNure7 {
	display: none !important;
}

* {
	font-family: 'Avenir Next', 'Avenir', 'Nunito Sans', sans-serif !important;
}

/* Homepage */
#tile-header-fcHJMd .ins-header__logo-image-inner img  {
	width: 160px !important;
}

/* For footer */
.unknown-footer-links-wrapper, .unknown-payment-section-wrapper {
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
}

.unknown-footer-links {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 2rem;
	max-width: 1200px;
	margin: 0 auto;
}

.unknown-footer-links * {
	color: #333333ff !important;
}

.unknown-footer-links .unknown-column {
	flex: 1;
	min-width: 200px;
}

.unknown-footer-links h3 {
	margin-bottom: 0.75rem;
	font-size: 1.1rem;
	color: #333;
}

.unknown-footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.unknown-footer-links ul li {
	margin-bottom: 0.5rem;
	line-height: 1.4;
}

.unknown-footer-links a {
	color: #0077cc;
	text-decoration: none;
}

.unknown-locations a {
	text-decoration: underline;
}

.unknown-footer-links a:hover {
	text-decoration: underline;
}

.unknown-footer-links .unknown-locations li {
	margin-bottom: 1rem;
}


/* Footer Payment Rating */
.unknown-payment-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 2rem 0;
}

.unknown-payment-section > :first-child {
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
}

.unknown-payment-icons,
.unknown-ratings,
.unknown-social-icons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

.unknown-payment-icons img {
	width: 47px;
	height: 33px;
	object-fit: contain;
	background-color: white;
	border: 1px solid #ddd;
}

.unknown-payment-icons img:first-child {
	object-fit: cover;
}

.unknown-rating {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1rem;
	color: #333;
	background-color: white;
	border: 1px solid #ddd;
}

.unknown-rating a {
	display: flex;
}

.unknown-rating img {
	width: 158px;
	object-fit: contain;
}

.unknown-icon {
	width: 47px;
	height: 33px;
	object-fit: contain;
}

.unknown-social-icons a {
	display: inline-block;
	transition: transform 0.2s ease;
}

.unknown-social-icons a:hover {
	transform: scale(1.1);
}

.unknown-copyright {
	color: #121212bf;
	font-size: 0.9rem;
	text-align: center;
}

/* Google Review */
.unknown-carousel-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	background-color: #fff;
	padding: 30px 0;
}

.unknown-carousel-wrapper > div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.unknown-carousel-container {
	overflow: hidden;
	flex: 1;
	max-width: 1200px;
}

.unknown-carousel {
	display: flex;
	transition: transform 0.4s ease-in-out;
}

.unknown-review-card {
	background-color: #f4f4f4;
	border-radius: 12px;
	padding: 20px;
	margin-right: 20px;
	flex: 0 0 auto;
	min-width: 310px;
	max-width: 310px;
	height: 230px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.unknown-profile {
	display: flex;
	align-items: center;
}

.unknown-profile img {
	border-radius: 50%;
	margin-right: 20px;
}

.unknown-profile h4 {
	margin: 0;
	font-weight: bold;
}

.unknown-profile .unknown-date {
	color: #767676;
	font-size: 13px;
}

.unknown-review-card .unknown-stars {
	display: flex;
	margin: 11px 0;
}

.unknown-review-card p {
	margin: 0;
}

.unknown-nav {
	background: none;
	border: none;
	font-size: 21px;
	cursor: pointer !important;
	padding: 10px;
	z-index: 10;
	width: 50px;
	height: 50px;
}

.unknown-nav:hover {
	background-color: #eee;
	border-radius: 50%;
}
